body{ background-color: greenyellow;
        width: 600px;
        border: 1.5px dashed green;
        padding: 1.5px;
        margin-top: 20px;
        margin-right: 15px;
        margin-bottom: 20px;
        margin-left: 15px;
        margin:auto
      }
nav{ background-color: black;
    margin-top: auto;
    font-size: large;
    text-emphasis-color: white;
    }
 h3{color: blue;
    text-shadow: blue;

 }   
h1{ text-align: center;
    color: black
}
p{ text-justify: auto;

}

img{ border-radius: 50%;
     width: 200px;
     align: left
    }


}




