body{ background-color: burlywood;
        width: 600px;
        border: 1.5px dashed green;
        padding: 3px;
        Margin: auto;
      }
nav{ background-color: orange
     margin-top: auto;
    font-size: 25px;
    color: black;
    }
 h3{color: blue;
    text-shadow: blue;

 }   
h1{ text-align: center;
    color: black
}
p{
    text-align: 5px;
    font-size: 25px;

}

img{ border-radius: 50%;
     width: 200px;
     float: left;
     text-align: center;
    }







